body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    color: #777;
    line-height: 140%;
    font-weight: normal;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */

}
footer{
    padding-top: 1vh;

}
header,
footer {    
    background-color: #222;
    text-align: center;
    border-bottom: 0.1vh solid #eee;
    border-top: 0.1vh solid #eee;
    border-color: rgba(255,255,255,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 8vh;
    width: 100%;
    top: 0;
}

.game {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    background-color: #222;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dice-container {
    display: flex;
    max-width: 50vh;
    padding: 10vh 0px 5vh 0;
    margin: 0 auto;
    list-style: none;
    gap: 5vh;
    height: 20vh;

}

.dice {
    width: 15vh;
    height: 15vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.dice1 {
    color: #DAAF56;
    background-color: #4D755D;
}

.dice2 {
    color: #4D755D;
    background-color: #DAAF56;
}

.button-container {
    padding: 2vh 0;
    margin: 0 auto;
    text-align: center;
    text-decoration-line: none;
    font-family: 'Poppins', sans-serif, Arial, Verdana;
}

.roll-dice {
    display: inline-block;
    font-size: 1.7vh;
    padding: 0 15vh;
    border-radius: 5vh;
    height: 6vh;
    line-height: 6vh;
    border: 0.2vh solid #ccc;
    outline: none;
    text-transform: uppercase;
    background-color: #222;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #888;
    color: #ccc;
}

.roll-dice:hover {
    color: #555;
}

.roll-dice:active {
    color: #555;
    background-color: #ccc;
}

h1 {
    color: #ccc;
    font-size: 3vh;
    line-height: 110%;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: capitalize;
    margin: 0 0 0.1vh 0;
    padding: 0;
    text-decoration-line: none;
    font-family: 'Poppins', sans-serif, Arial, Verdana;
}

p {
    color: #ccc;
    font-size: 1.3vh;
    line-height: 170%;
    padding: 0;
    font-weight: normal;
    text-decoration-line: none;
    font-family: 'Poppins', sans-serif, Arial, Verdana;
}

h2{
    font-size: 2vh;
    font-weight: 500;
    color: #ccc;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    font-family: 'Poppins', sans-serif, Arial, Verdana;
    display: inline-block;
    line-height: 24px;
    position: relative;
    padding-left: 28px;
    margin-top: 18px;
    text-decoration: none;

}
.top{
    position: fixed;
    left: 1svh;
}

.dice img {
    width: 70%; 
    height: 70%; 
}

#preloader_malc {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #222;
    z-index: 99;
}

#preloader_malc div {
    background: #222;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif, Arial, Verdana;
    font-size: 2vh;
    color: #ccc;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 50vh 0;
}

.hidden {
    display: none;
}